header {
  background: #74ddff;
  color: #1481a5;
}

.main {
  background: #34717d;
  height: calc(100vh - 99px);
}

.category {
    background: #f2feff;
    padding: 8px;
    color: #0082a9;
    border-radius: 0 0 4px 4px;
}

.category h3 {
  margin-top: 0px;
  border-bottom: 1px solid;
}

.weekdays li {
  display: inline-block;
}



.weekdays, .habit-list {
  list-style-type: none;
}

.habit-title {
    font-size: 18px;
    width: 15%;
    display: inline-block;
}

.day-name, .habit-list input[type='checkbox'] {
  //margin: 0 4px;
  width: calc(85% / 7 - 1px);
}
